#see-scores {
    background-color: white;
    border: none;
    color: red;
}

#see-scores:hover {
    color: blue; 
}

.header-style {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 15px;
}

#main-quiz {
    text-align: center;
}

.questions li {
    list-style: none;
}


.a-btn, #btn-start {
    background-color: darkblue;
    color: white; 
    border-radius: 5px; 
    border-style: none;
    padding: 10px; 
    margin: 3px; 
}

.a-btn:hover, #btn-start:hover {
    background-color: purple;
}


